{% extends "layout.html" %}
{% block pageTitle %}
    {{service.name}} - Register of Department for Education Services
{% endblock %}
{% block beforeContent %}
    <a href="/list/service" class="govuk-back-link">Back to list of services</a>
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-xl">{{service.type}}</span>
            <h1 class="govuk-heading-xl">
                {{service.name}}

            </h1>

            <p class="govuk-body-l">
                {{service.description}}
            </p>
            {{ govukTable({
  firstCellIsHeader: false,
  head: [  {
      text: "Phase"
    },
    {
      text: "Directorate"
    },
    {
      text: "Programme"
    }
  ],
  rows: [
    [
    {
        text: govukTag({
  text: service.phase
})
    },
      {
        text: service.directorate
      },
      {
        text: service.programme 
      }
    ]
  ]
}) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="panel">
                        <h2 class="govuk-heading-s">Outcome</h2>
                        <p>{{service.outcome}}</p>
                        <p><a href="/outcomes/view#accordion-default-heading-4">Other products and services with this outcome</a></p>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="panel">
                        <h2 class="govuk-heading-s">Objective</h2>
                        <p>{{service.objective}}</p>
                        <p><a href="/outcomes/view#accordion-default-heading-4">Other products and services with this objective</a></p>
                    </div>
                </div>
            </div>

            <div class="top-bar govuk-!-margin-top-5"></div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">User groups</h2>
                    <p>The validated user groups for this service are:</p>
                    <ul class="govuk-list panel-list">
                        {% for user in service.users %}
                            <li>
                                <a href="/user-group/{{user.group | lower}}">{{user.group}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">User needs</h2>
                    {% if service.needs.length !== 0 %}
                        <p>The following user needs have been validated with this service:</p>

                        <ul class="govuk-list panel-list">
                            {% for need in service.needs %}
                               <li><a href="/user-needs/need/{{need.id}}">{{need.need}}</a>
                            </li>
                        {% endfor %}
                    </ul>

                {% else %}
                    <p>No known needs.</p>
                {% endif %}

            </div>
        </div>

        <div class="top-bar govuk-!-margin-top-5"></div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">Components</h2>
                {% if service.components.length !== 0 %}
                    <p>The following components are used in this service:</p>

                    <ul class="govuk-list panel-list">
                        {% for component in service.components %}
                            <li>
                                <a href="{{component.link}}">{{component.component}}</a>
                            </li>
                        {% endfor %}
                    </ul>

                {% else %}
                    <p>No known components.</p>
                {% endif %}
            </div>

            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">Team</h2>
                {% if service.team.length !== 0 %}
                    <p>The team providing this service are:</p>

                    <ul class="govuk-list panel-list">
                        {% for person in service.team %}
                            <li>
                                {{person.name}} - {{person.role}}
                            </li>
                        {% endfor %}
                    </ul>

                {% else %}
                    <p>No known components.</p>
                {% endif %}
            </div>

        </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m top-bar">Links and resources</h2>
        <ul class="govuk-list govuk-list--spaced">
            <li>
                <a href="{{service.link}}" role="link" target="_blank">View the service</a>
            </li>
            {% for resource in service.resources %}
                <li>
                    <a href="{{resource.link}}" target="_blank">{{resource.text}}</a>
                </li>
            {% endfor %}
        </ul>

        <h2 class="govuk-heading-m top-bar">Assurance</h2>

        <table class="govuk-table">

            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td scope="row"class="govuk-table__cell"><a href="https://apply-the-service-standard.education.gov.uk/accessibility/laws-and-standards.html#content" target="_blank">Accessibility compliance<a/></td>
                    <td class="govuk-table__cell">
                         <strong class="govuk-tag {%if service.accessibilityCompliance === 'Full'%}govuk-tag--green{%elseif service.accessibilityCompliance === 'Partial' %}govuk-tag--yellow{%else%}govuk-tag--red{%endif%}">{{service.accessibilityCompliance}}</strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td scope="row"class="govuk-table__cell"><a href="https://apply-the-service-standard.education.gov.uk/service-standard/10-define-success-publish-performance-data.html" target="_blank">Key metrics</a></td>
                    <td class="govuk-table__cell">
                         <strong class="govuk-tag {%if service.reportKeyMetrics === 'Yes'%}govuk-tag--green{%elseif service.reportKeyMetrics === 'Partially' %}govuk-tag--yellow{%else%}govuk-tag--red{%endif%}">{{service.reportKeyMetrics}}</strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td scope="row"class="govuk-table__cell"><a href="https://apply-the-service-standard.education.gov.uk/service-standard/14-operate-a-reliable-service.html" target="_blank">User satisfaction</a></td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">90%</strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td scope="row"class="govuk-table__cell">Authority to operate</td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">Yes</strong>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-s govuk-!-margin-top-5">Assessment history</h2>
        <div class="timeline">
            <ol>
                <li  class="passed">
                    <h2 class="gcweb-heading-s">Discovery</h2>
                    <p>{{service.discovery.outcome}} discovery assessment {%if service.discovery.date%}on {{service.discovery.date}}{%endif%}</p>
                        {%if service.discovery.report%}
                            <p>
                                <a href="{{service.discovery.report}}" target="_blank">View assessment report</a>{%endif%}
                            </p>
                        </li>
                        <li  class="passed">
                            <h2 class="gcweb-heading-s">Alpha</h2>
                            <p>{{service.alpha.outcome}} alpha assessment {%if service.alpha.date%}on {{service.alpha.date}}{%endif%}</p>
                                {%if service.alpha.report%}
                                    <p>
                                        <a href="{{service.alpha.report}}" target="_blank">View assessment report</a>{%endif%}
                                    </p>
                                </li>
                                <li class="{%if service.beta.outcome === 'Passed'%}passed{%elseif service.beta.outcome === 'Did not pass'%}failed{%elseif service.phase === 'Beta'%}selected{% else%}default{%endif%}">
                                    <h2 class="gcweb-heading-s">Beta</h2>
                                    {%if service.beta.outcome === 'Passed' or service.beta.outcome === 'Did not pass'%}
                                    <p>{{service.beta.outcome}} beta assessment {%if service.beta.date%}on {{service.beta.date}}{%endif%}</p>
                                        {%if service.beta.report%}
                                            <p>
                                                <a href="{{service.beta.report}}" target="_blank">View assessment report</a>{%endif%}
                                            </p>
                                            {% endif%}
                                        </li>
                                        <li  class="{%if service.phase === 'Live'%}selected{%else%}default{%endif%}">
                                            <h2 class="gcweb-heading-s">Live</h2>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        {% endblock %}

                        {% block pageScripts %}
                            <script>
                                var cards = document.querySelectorAll('.panel-list');
                                Array
                                    .prototype
                                    .forEach
                                    .call(cards, function (card) {
                                        var down = void 0,
                                            up = void 0,
                                            link = card.querySelector('li a');
                                        card.style.cursor = 'pointer';
                                        card.onmousedown = function () {
                                            return down = + new Date();
                                        };
                                        card.onmouseup = function () {
                                            up = + new Date();
                                            if (up - down < 200) {
                                                link.click();
                                            }
                                        };
                                    });
                            </script>
                            {% endblock%}