{% extends "layout.html" %}

{% block pageTitle %}
  Home  - Register of Department for Education Services
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Department for Education</span>
            <h1 class="govuk-heading-xl">
      List of services by service name
       </h1>

        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-5">
        <div class="govuk-grid-column-one-quarter">
            <div class=" filter-panel">
                <h2 class="govuk-heading-m">Filters</h2>

                <form action="/filter" method="post">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
        Directorate
      </h1>
                            </legend>
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="user" name="user" type="checkbox" value="parents" {{ checked("user", "parents") }}>
                                    <label class="govuk-label govuk-checkboxes__label" for="user">
          Schools
        </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="user-2" name="user" type="checkbox" value="school-leavers" {{ checked("user", "school-leavers") }}>
                                    <label class="govuk-label govuk-checkboxes__label" for="user-2">
          Skills
        </label>
                                </div>

                            </div>

                        </fieldset>
                    </div>

                                        <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
        Phase
      </h1>
                            </legend>
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="user" name="user" type="checkbox" value="parents" {{ checked("user", "parents") }}>
                                    <label class="govuk-label govuk-checkboxes__label" for="user">
          Discovery
        </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="user-2" name="user" type="checkbox" value="school-leavers" {{ checked("user", "school-leavers") }}>
                                    <label class="govuk-label govuk-checkboxes__label" for="user-2">
          Alpha
        </label>
                                </div>

                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="user-2" name="user" type="checkbox" value="school-leavers" {{ checked("user", "school-leavers") }}>
                                    <label class="govuk-label govuk-checkboxes__label" for="user-2">
          Beta
        </label>
                                </div>

                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="user-2" name="user" type="checkbox" value="school-leavers" {{ checked("user", "school-leavers") }}>
                                    <label class="govuk-label govuk-checkboxes__label" for="user-2">
          Live
        </label>
                                </div>

                            </div>

                        </fieldset>
                    </div>

                    <button type="submit" class="govuk-button"  data-module="govuk-button">Filter</button>

                </form>
            </div>
        </div>
        <div class="govuk-grid-column-three-quarters">

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Services</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Phase</th>
                        <th scope="col" class="govuk-table__header">Type</th>
                        <th scope="col" class="govuk-table__header">Directorate</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">

                    {% for service in services %}

                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/service/details/{{service.id}}">{{service.name}}</a></th>
                            <td class="govuk-table__cell"><strong class="govuk-tag {%if service.phase === 'Live'%}govuk-tag--green{%elseif service.phase === 'Beta' %}govuk-tag--orange{%else%}govuk-tag--red{%endif%}">{{service.phase}}</strong></td>
                            <td class="govuk-table__cell">{{service.type}}</td>
                            <td class="govuk-table__cell">{{service.directorate}}</td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>

        </div>
    </div>

{% endblock %}